{% load i18n %}

<h4>{% trans 'Summary' %}</h4>
<table>
    <thead>
        <tr>
            <th>{% trans "Total calls" %}</th>
            <th>{% trans "Total time" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ calls|length }}</td>
            <td>{{ total_time }}</td>
        </tr>
    </tbody>
</table>
<h4>{% trans 'Calls' %}</h4>
<table>
    <thead>
        <tr>
            <th colspan="2">{% trans 'Time (ms)' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Key(s)' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for call in calls %}
        <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}" id="memcacheMain_{{ forloop.counter }}">
            <td class="toggle">
                <a class="djToggleSwitch" data-toggle-name="memcacheMain" data-toggle-id="{{ forloop.counter }}" data-toggle-open="+" data-toggle-close="-" href="javascript:void(0)">+</a>
            </td>
            <td>{{ call.time|floatformat:"4" }}</td>
            <td>{{ call.name }}</td>
            <td>{{ call.keys }}</td>
        </tr>
        <tr class="djUnselected djDebugHoverable {% cycle 'djDebugOdd' 'djDebugEven' %} djToggleDetails_{{ forloop.counter }}" id="memcacheDetails_{{ forloop.counter }}">
            <td></td>
            <td colspan="3"><pre class="stack">{{ call.trace }}</pre>
        </tr>
        {% endfor %}
    </tbody>
</table>
